<!--{{ if .Site.Data.homepage.aboutMeFull.enable }}
<section class="section rad-animation-group pb-0" id="aboutMeFull">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="aboutMeFull__profile-picture col-12 col-md-6">
        <img
          class="lozad img-responsive image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.aboutMeFull.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.aboutMeFull.image.x | absURL }} 1x, {{ .Site.Data.homepage.aboutMeFull.image._2x | absURL }} 2x"
          alt="Profile Picture"
        />
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h2>{{ .Site.Data.homepage.aboutMeFull.title }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.aboutMeFull.content | safeHTML }}
        </p>
        <a
          href="{{ .Site.Data.homepage.aboutMeFull.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
            <i class="{{ .Site.Data.homepage.aboutMeFull.button.icon }}"></i>
            {{ .Site.Data.homepage.aboutMeFull.button.btnText }}
        </a>
        <a href="{{ .Site.Data.homepage.aboutMeFull.button2.URL | absURL }}"
           target="_blank"
           class="btn btn-frameless"
          >
            <i class="{{ .Site.Data.homepage.aboutMeFull.button2.icon }}"></i>
            {{ .Site.Data.homepage.aboutMeFull.button2.btnText }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bak ellende</title>
  </head>
  <body>
    <p>Nog meer ellende</p>
  </body>
</html>






<!--
# aboutMeFull
aboutMeFull:
  enable: true
  title: "About me"
  content: '<p class="lead">
    I am a passionated, eager to learn and self taught iOS Developer with a very wide range of different skills across multiple segments,
    such as in Engineering, videography, science and electronics with both hardware and software knowledge.
    </p>
    <p class="lead">
    This interest in different fields started at a very young age,
    when I was just 5 years old and I got my very first dirt bike. And with it came my interest in mechanical engineering.
    </p>
    <p class="lead">
    This actually kickstarted my career as a car mechanic at the Audi dealer (for 11 years),
    eventually I felt like I could learn more and pursue my interest in electronics, so I decided to make a career switch.
    To do so I started studying at HAN University of Applied Sciences.
    During my studies I stumbled on the job as electronical prototype developer at Autodidact which I am working for over 4,5 years now.
    Also around the same period I started my own YouTube channel where I modify (mostly the interior of) my car.
    </p>
    <p class="lead">
    I started my iOS journey back in 2018, while I was still working at Autodidact.
    Because they wanted to create an iOS app for the EuroTech Center (Automotive) Helpdesk (which is a different department of Autodidact itself).
    </p>
    <p class="lead">
    At the same time I was looking for a graduation assignment for the Bachelor Automotive Engineering.
    So we decided to combine the two and as result I created the iOS app: ETCA "EuroTech Center App",
    which combines automotive engineering and iOS Development.
    </p>
    <p class="lead">
    I received an 9 for this graduation assignment and graduated with honors!
    I really learned a lot creating ETCA and immediately fell in love with iOS Development.
    When SwiftUI came out I immediately started practicing with this new declarative user interface toolkit.
    Which resulted in my two latest created apps Mi Shopping List & eXandOs.
    </p>'
  button:
    icon: "icon-linkedin-fill"
    btnText: "Linkedin"
    URL: "https://nl.linkedin.com/in/giordano-menegazzi-35108012a"
  button2:
    icon: "icon-github-line"
    btnText: "GitHub"
    URL: "https://github.com/Giordano-Menegazzi"
  image:
    x: "img/who-am-i/Gio.png"
    _2x: "img/who-am-i/Gio@2x.png"
  -->
